:root {

    /* Primary  */
    --background: hsl(225, 100%, 94%);
    --bluee: hsl(245, 75%, 52%);

    /* Neutral */
    --bgCard: hsl(225, 100%, 98%);
    --DesaturedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    --btnHover: hsl(243, 82%, 69%);
    
    --font: 'Red Hat Display', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5% /* 1rem = 10px */;
    font-family: var(--font);
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    background-color: var(--background);
   
    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}

@media (min-width: 768px) {
    body{
        background-image: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
 }

img {
    max-width: 100%;
    display: block;
}



  .card {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 30rem;
    background-color: var(--bgCard);
    margin: 0 auto;
    border-radius: 1.5rem;
    overflow: hidden;
}
.contenido{
    text-align: center;
    padding-top: .5rem;
}

.contenido__titulo {
    font-size: 1.85rem;
    font-weight: 900;
    
}

.contenido__descripcion {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--DesaturedBlue);
    line-height: 1.7;
    padding: 0 3.5em;
    
   
}
.icon-music{
    background-size: cover;
  width: 4rem;

}


.contenido__plan {
    background-color: hsl(225, 100%, 94%, 0.3);
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;    
    padding: 1rem 2rem;
    border-radius: 1rem;

    font-size: 1.3rem;
   margin-bottom: 2rem;
    
}
.contenedor-icono-planes{
    display: flex;
}
.contenedor-tipo-plan{
    
    display: flex;
   flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    
}

#plan-tipo{
    color: var(--darkBlue);
    font-weight: 900;
    padding-bottom: 0.5rem;
}
#plan-precio {

    color: var(--DesaturedBlue);
}

.cambiar-plan {
    margin: auto 0;
}

.cambiar-plan a:hover{
    text-decoration: none;
    color: var(--btnHover);
}

.cambiar-plan a {
    font-weight: 700;
    color: var(--bluee);
    font-size: 1.1rem;
}


#btn-pagar{
    display: block;
    margin: 0 2rem;
    padding: 1.5rem 0;
    border-radius: 1rem;
    text-decoration: none;
    background-color: var(--bluee);
    color: var(--bgCard);
    font-weight: 900;
    font-size: 1.2rem;
    
  
}

#btn-cancelar-order {
    display: block;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--DesaturedBlue);
    padding: 1rem 0 3rem 0;
}
.botones a:first-child{
    
    box-shadow: 0px 9px 17px hsla(244.9, 74.7%, 52%, 0.29);
   
}
#btn-pagar:hover {
    background-color: var(--btnHover);
}

#btn-cancelar-order:hover {
    color: black;
}


.attribution{
    text-align: center;
    font-size: 1rem;
    margin-top: 1.5rem;
    
}

@media (min-width: 900px) {
    .card{
        transform: scale(1.5);
    }
 
    
    
    .contenido__plan{
        margin: 1rem 3rem 2rem 3re,;    
        padding: 1.5rem 2rem;
    } 
    .contenido__descripcion{
       font-size: 1.2rem;
        padding: 0 4rem;
    }
    .contenedor-tipo-plan{
        padding-left: 1.5rem;
        font-size: 1.2rem;
        
    }
    .cambiar-plan a,
    #btn-pagar,
    #btn-cancelar-order{
        font-size: 1rem;
    }
    #btn-pagar{
        padding: 1.2rem 0;
    }
   


 }